.active {
 
    color: #fc0505 !important;
  }
  @media screen and (min-width: 801px){
   
 

}
.modal{
    z-index: 9;
}
@media screen and (max-width: 1024px){
 
  #menuContent{
 
    transition: transform 0.5s ease;  /* Utilisation de la propriété transform pour la transition */
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(10px);
    height: 100vh;
 
    z-index: 99;
   transform:translateX(-110%) ;
    
  }
  #menuContent.showMenu{
   
    transform: translateX(0);
   
  
  }

    #burger1::before,
    #burger1::after {
    content:'';
    width:20px;
    /* margin-top: 1rem; */
    height:3px;
    background:white;
    display:inline-block;
    position:absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  #burger1::before {
    top:-7px;
    /* margin-bottom: 2rem;/ */
    margin-top: .1rem;
  }
  #burger1::after {
    top:7px;
  }
  #burger1.opene {
    background:transparent;
  }
  
  #burger1.opene::before {
    transform: rotate(45deg); 
    top:0;
  }
  #burger1.opene::after {
    transform: rotate(-45deg);
    top:0;
  }

  #link{
    display: flex;
    color: white;
    padding: 0.5rem;
    margin-top: 0.3rem;
  
  
  position: absolute;
  right: 0;

   
    z-index:39;
 
    /*
    
    border: solid 1px greenyellow;
    */ 
   
  }
  #burger1 {
    width:20px;
   
    height:3px;
    background:white;
    display:inline-block;
    position:relative;
    
  }
  .logo{
    position: absolute;
    top: 1rem;
  
  }
   .navPrincipal{
  border: none;
  height: auto;
   
  }
  .navbar__line{
    display: none;
  }
 

  }
  

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  /* Transition de disparition */
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  @media (max-width: 900px) {
    .visible-sm {
      display: block !important; /* !important pour forcer la priorité sur les autres styles */
    }
  }
  .loadingpage {
    
    transition: opacity 1s ease, height 1s ease;
  }
  
  .invisiblePerso {
    opacity: 0;
    height: 0 !important;

    transition: opacity 1s ease, height 1s ease;

  }


  
  