@import './cardCea/cardcea.scss';
@import './navbar/responsiveNavNar.scss';
@import './home/grid.scss';
@import './accueil/deroulant1.scss';
@import './accueil/deroulant2.scss';



*{
  font-family: 'Gabarito', sans-serif !important;
  font-weight: 900;

}
h1,h2,h3,h4,h5,h6,button{
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Gabarito", sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a,button{
  opacity: 0.7;

}
p,a{
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
  box-sizing: border-box;

    background-color: rgb(4, 0, 16);
 
    transition: background-color 0.5s ease; /* Ajoutez une transition pour la couleur de fond */
    transition: color 0.9s ease; /* Ajoutez une transition pour la couleur de fond */
}

/* Styles pour la barre de défilement */
/* Cela cible spécifiquement la barre de défilement WebKit (utilisée dans Chrome, Safari, etc.) */

/* Barre de défilement elle-même */
::-webkit-scrollbar {
    width: 12px; /* Largeur de la barre de défilement */
  }
  
  /* Gérer le fond de la barre de défilement */
  ::-webkit-scrollbar-track {
    background: transparent; /* Fond de la barre de défilement */
  }
  
  /* Gérer la poignée de la barre de défilement (la partie que vous faites glisser) */
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Couleur de la poignée de la barre de défilement */
    border-radius: 6px; /* Coins arrondis de la poignée de la barre de défilement */
  }
  
  /* Gérer les coins de la poignée de la barre de défilement lorsqu'elle est survolée */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* Couleur de la poignée de la barre de défilement au survol */
  }


  // animation 

  $bleu: #67C5DD;

@mixin center {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.animSVGnav{
    right:50rem
    
}
.bg-animation {
  height: 100rem;
  width: 100rem;
  position: relative;
  @media screen and (min-width:900px) and (max-width:1400px) {
    height: 80rem;
    width: 100rem;
  }


  overflow: hidden;
  & svg {
    @include center;
    width: 90%;
    animation: orbit 30s linear infinite;
    & path {
      fill: rgba($bleu, 0.2);
    }
    &:nth-child(2) {
      width: 80%;
      animation: orbit 20s linear infinite;
    }
    &:nth-child(3) {
      width: 60%;
      animation: orbit 25s linear infinite;
    }
    &:nth-child(4) {
      width: 30%;
      animation: orbit 18s linear infinite;
    }
  }
  
}

@keyframes orbit {
  0% {
    transform: translate(-50%, -50%)rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}

.scroll-x-container {
  overflow-x: auto; /* Ajoutez le défilement horizontal */
  overflow-y: hidden; /* Désactive le défilement vertical */
  white-space: nowrap; /* Assurez-vous que les éléments restent sur une seule ligne */
}

.tekno-item {
  
  /* Styles pour chaque élément, si nécessaire */
  margin-right: 20px; /* Ajoutez de l'espace entre chaque élément */
}
  



.backcolor{
background-color:rgba(255, 255, 255, 0.1) !important;
}
.opacity_middle{
  opacity: 0.5;
  border: 1px red solid;
}
.opacity_full{
  opacity: 1;
}


.competence_card{
  width: 40rem;
}


.fade-enter {
  opacity: 0 !important;
}

.fade-enter-active {
  opacity: 1 !important;
  transition: opacity 500ms ease-in !important;
}

.fade-exit {
  opacity: 1 !important;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out !important;
}

.imageListe{
  margin-left: 0 !important;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay-enter {
  display: block;
}

.overlay-enter-active {
  opacity: 1;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
}

.type{
height: 5rem;
}
// *{
//   border: red solid 1px !important;
// }

.loadingpage{

  background-color: rgb(18, 18, 18);
}

.opacity-perso{

  opacity: 1 !important;
  background: #67C5DD;
}