@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

.containerCard {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-icon {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-icon, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after, .card-wrap:hover .card-icon:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.3;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

.card {
  position: relative;
  flex: 0 0 240px;
  width: 12rem;
  height: 14rem;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-bg {
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(113, 217, 224, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.card-icon {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-icon p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-icon:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.active {
  color: #fc0505 !important;
}

.modal {
  z-index: 20 !important;
}

@media screen and (max-width: 1280px) {
  #menuContent {
    transition: transform 0.5s ease; /* Utilisation de la propriété transform pour la transition */
    flex-direction: column;
    position: absolute;
    left: -0.5rem;
    width: 100%;
    z-index: 99 !important;
    transform: translateX(-110%);
  }
  #menuContent.showMenu {
    z-index: 99 !important;
    transform: translateX(0);
  }
  #burger1::before,
  #burger1::after {
    content: "";
    width: 20px;
    /* margin-top: 1rem; */
    height: 3px;
    background: white;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  #burger1::before {
    top: -7px;
    /* margin-bottom: 2rem;/ */
  }
  #burger1::after {
    top: 7px;
  }
  #burger1.opene {
    background: transparent;
  }
  #burger1.opene::before {
    transform: rotate(45deg);
    top: 0;
  }
  #burger1.opene::after {
    transform: rotate(-45deg);
    top: 0;
  }
  #link {
    display: flex;
    color: white;
    padding: 1rem;
    margin-top: 0.5rem;
    position: fixed;
    right: 0;
    z-index: 99;
    /*

    border: solid 1px greenyellow;
    */
  }
  #burger1 {
    width: 20px;
    height: 3px;
    background: white;
    display: inline-block;
    position: relative;
  }
  .logo {
    position: absolute;
    top: 1rem;
  }
  .navPrincipal {
    border: none;
    height: auto;
  }
  .navbar__line {
    display: none;
  }
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Transition de disparition */
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 900px) {
  .visible-sm {
    display: block !important; /* !important pour forcer la priorité sur les autres styles */
  }
}
.loadingpage {
  transition: opacity 1s ease, height 1s ease;
}

.invisiblePerso {
  opacity: 0;
  height: 0 !important;
  transition: opacity 1s ease, height 1s ease;
}

main {
  height: 70%;
  width: 90%;
}
@media screen and (max-width: 768px) {
  main {
    width: 100%;
    padding: 0.3rem;
    height: 100%;
  }
}

.main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100%;
  padding: 2rem 3rem;
}
@media screen and (max-width: 768px) {
  .main-grid {
    grid-gap: 50px;
    padding: 1rem;
    paddong: 0;
    grid-gap: 10px;
  }
}

.grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
}
.grid-item:hover {
  font-size: 1.2rem;
  transition: all 0.6s ease-in-out;
}

.un {
  grid-column: 1/3;
  grid-row: 1/3;
}
@media screen and (max-width: 768px) {
  .un {
    grid-column: 1/7;
    grid-row: 2/3;
  }
}

.trois {
  grid-column: 3/5;
  grid-row: 2/6;
}
@media screen and (max-width: 768px) {
  .trois {
    grid-column: 1/7;
    grid-row: 3/4;
  }
}

.deux {
  grid-column: 5/7;
  grid-row: 4/7;
}
@media screen and (max-width: 768px) {
  .deux {
    grid-column: 1/7;
    grid-row: 4/5;
  }
}

.text1 {
  grid-column: 1/3;
  grid-row: 3/7;
}
@media screen and (max-width: 1024px) {
  .text1 {
    grid-column: 1/5;
    grid-row: 4/7;
  }
}
@media screen and (max-width: 768px) {
  .text1 {
    grid-column: 1/7;
    grid-row: 5/7;
  }
}

* {
  border: 1px solid red;
}

.zero {
  grid-column: 3/7;
  grid-row: 1/3;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .zero {
    grid-column: 1/7;
    grid-row: 1/2;
    padding: 0;
    text-align: center;
    z-index: 0;
  }
}

@font-face {
  font-family: "test";
  src: url("../font/outward-borders.ttf") format("truetype");
  /* Autres propriétés de la police (optionnelles) */
}
@font-face {
  font-family: "test2";
  src: url("../font/outward-block.ttf") format("truetype");
  /* Autres propriétés de la police (optionnelles) */
}
.font_test {
  font-family: "test", sans-serif !important;
}

.font_test2 {
  font-family: "test2", sans-serif !important;
}

.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.animation_bouton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  overflow: hidden;
}

.animation_bouton:hover {
  color: #262626;
}

.animation_bouton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  z-index: -1;
  transition: 0.5s;
  box-sizing: border-box;
}

.animation_bouton:hover:before {
  top: calc(100% - 2px);
}

.animation_bouton:after {
  content: "";
  position: absolute;
  top: calc(-100% + 2px);
  left: 100%;
  width: 100%;
  height: 100%;
  background: #262626;
  z-index: -1;
  transition: 0.5s;
  box-sizing: border-box;
}

.animation_bouton:hover:after {
  left: 0;
  transition-delay: 0.5s;
}

.animation_bouton span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 2px solid #262626;
  border-right: 2px solid #262626;
  box-sizing: border-box;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.5s;
}

.animation_bouton:hover span {
  transform: scaleY(1);
  transition-delay: 1s;
}

.imgNav {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#cloud1 {
  position: absolute;
  right: -10%;
  bottom: 0;
  height: -3px;
  width: 50px;
  animation: moveCloud 10s linear infinite;
  -webkit-animation: moveCloud 10s linear infinite;
  -moz-animation: moveCloud 10s linear infinite;
}
#cloud1 h1 {
  font-family: "Protest Strike", sans-serif;
  font-style: normal;
  font-size: 5rem;
  font-weight: 400;
}

#cloud2 {
  position: absolute;
  right: -5%;
  top: 0.2em;
  height: 20rem;
  width: 30px;
  animation: moveCloud 25s linear infinite;
  transition: transform 7.5s linear;
  font-size: 15em;
  -webkit-animation: moveCloud 25s linear infinite;
  -moz-animation: moveCloud 25s linear infinite;
}
#cloud2 h1 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#cloud3 {
  position: absolute;
  right: -15%;
  top: 0.3rem;
  height: 30px;
  width: 70px;
  font-family: "test", sans-serif;
  animation: moveCloud 46s linear infinite;
  -webkit-animation: moveCloud 46s linear infinite;
  -moz-animation: moveCloud 46s linear infinite;
  font-size: 5em;
}

#cloud4 {
  position: absolute;
  right: -25%;
  top: 0.2em;
  font-weight: 700;
  animation: moveCloud 15s linear infinite;
  -webkit-animation: moveCloud 15s linear infinite;
  -moz-animation: moveCloud 15s linear infinite;
  color: rgb(47, 142, 147);
  font-size: 9em;
}

#cloud5 {
  position: absolute;
  right: 10%;
  top: 0.1em;
  height: 30px;
  width: 30px;
  animation: moveCloud 20s linear infinite;
  -webkit-animation: moveCloud 20s linear infinite;
  -moz-animation: moveCloud 20s linear infinite;
  font-size: 21em;
  color: #2ed3e6;
}

@keyframes moveCloud {
  0% {
    transform: translate(2500%);
  }
  100% {
    transform: translate(-2000px);
  }
}
@-webkit-keyframes moveCloud {
  0% {
    transform: translate(2500%);
  }
  100% {
    transform: translate(-2000px);
  }
}
@-moz-keyframes moveCloud {
  0% {
    transform: translate(2500%);
  }
  100% {
    transform: translate(-2000px);
  }
}
.onCommence {
  z-index: 999;
}

/* responsive */
@media screen and (max-width: 1024px) {
  .response {
    display: flex;
  }
}
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.largeIcon {
  font-size: 2.5rem !important;
}

.imgNav {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#cloud6 {
  position: absolute;
  left: -10%;
  bottom: 0;
  height: -3px;
  width: 50px;
  animation: moveCloudReverse 10s linear infinite;
  -webkit-animation: moveCloudReverse 10s linear infinite;
  -moz-animation: moveCloudReverse 10s linear infinite;
}

#cloud7 {
  position: absolute;
  left: -5%;
  top: 0.2em;
  height: 20rem;
  width: 30px;
  animation: moveCloudReverse 25s linear infinite;
  font-size: 15em;
  -webkit-animation: moveCloudReverse 25s linear infinite;
  -moz-animation: moveCloudReverse 25s linear infinite;
}

#cloud8 {
  position: absolute;
  left: -15%;
  top: 0.3rem;
  height: 30px;
  width: 70px;
  animation: moveCloudReverse 46s linear infinite;
  -webkit-animation: moveCloudReverse 46s linear infinite;
  -moz-animation: moveCloudReverse 46s linear infinite;
}

#cloud9 {
  position: absolute;
  left: -25%;
  top: 0.4em;
  font-weight: 900;
  color: #48e7df;
  animation: moveCloudReverse 15s linear infinite;
  -webkit-animation: moveCloudReverse 15s linear infinite;
  -moz-animation: moveCloudReverse 15s linear infinite;
  font-size: 9em;
}

#cloud10 {
  position: absolute;
  left: 10%;
  top: 0.1em;
  height: 30px;
  width: 30px;
  animation: moveCloudReverse 20s linear infinite;
  -webkit-animation: moveCloudReverse 20s linear infinite;
  -moz-animation: moveCloudReverse 20s linear infinite;
  font-size: 21em;
  color: #2ed3e6;
}

@keyframes moveCloudReverse {
  0% {
    transform: translate(-200%);
  }
  100% {
    transform: translate(2000px);
  }
}
@-webkit-keyframes moveCloudReverse {
  0% {
    transform: translate(200%);
  }
  100% {
    transform: translate(-2000px);
  }
}
@-moz-keyframes moveCloudReverse {
  0% {
    transform: translate(200%);
  }
  100% {
    transform: translate(-2000px);
  }
}
.caveat-h2 {
  font-family: "Caveat", cursive !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}

.onCommence::before {
  content: "";
  border-radius: 100px;
  min-width: 312px;
  min-height: 72px;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.onCommence::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
html {
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

* {
  font-family: "Gabarito", sans-serif !important;
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6, button {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Gabarito", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, button {
  opacity: 0.7;
}

p, a {
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  box-sizing: border-box;
  background-color: rgb(4, 0, 16);
  transition: background-color 0.5s ease; /* Ajoutez une transition pour la couleur de fond */
  transition: color 0.9s ease; /* Ajoutez une transition pour la couleur de fond */
}

/* Styles pour la barre de défilement */
/* Cela cible spécifiquement la barre de défilement WebKit (utilisée dans Chrome, Safari, etc.) */
/* Barre de défilement elle-même */
::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre de défilement */
}

/* Gérer le fond de la barre de défilement */
::-webkit-scrollbar-track {
  background: transparent; /* Fond de la barre de défilement */
}

/* Gérer la poignée de la barre de défilement (la partie que vous faites glisser) */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Couleur de la poignée de la barre de défilement */
  border-radius: 6px; /* Coins arrondis de la poignée de la barre de défilement */
}

/* Gérer les coins de la poignée de la barre de défilement lorsqu'elle est survolée */
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Couleur de la poignée de la barre de défilement au survol */
}

.codePage {
  bottom: -10;
}

.animSVGnav {
  right: 50rem;
}

.bg-animation {
  height: 100rem;
  width: 100rem;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  .bg-animation {
    height: 80rem;
    width: 100rem;
  }
}
.bg-animation svg {
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 90%;
  animation: orbit 30s linear infinite;
}
.bg-animation svg path {
  fill: rgba(103, 197, 221, 0.2);
}
.bg-animation svg:nth-child(2) {
  width: 80%;
  animation: orbit 20s linear infinite;
}
.bg-animation svg:nth-child(3) {
  width: 60%;
  animation: orbit 25s linear infinite;
}
.bg-animation svg:nth-child(4) {
  width: 30%;
  animation: orbit 18s linear infinite;
}

@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.scroll-x-container {
  overflow-x: auto; /* Ajoutez le défilement horizontal */
  overflow-y: hidden; /* Désactive le défilement vertical */
  white-space: nowrap; /* Assurez-vous que les éléments restent sur une seule ligne */
}

.tekno-item {
  /* Styles pour chaque élément, si nécessaire */
  margin-right: 20px; /* Ajoutez de l'espace entre chaque élément */
}

.backcolor {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.opacity_middle {
  opacity: 0.5;
  border: 1px red solid;
}

.opacity_full {
  opacity: 1;
}

.competence_card {
  width: 40rem;
}

.fade-enter {
  opacity: 0 !important;
}

.fade-enter-active {
  opacity: 1 !important;
  transition: opacity 500ms ease-in !important;
}

.fade-exit {
  opacity: 1 !important;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out !important;
}

.imageListe {
  margin-left: 0 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay-enter {
  display: block;
}

.overlay-enter-active {
  opacity: 1;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
}

.type {
  height: 5rem;
}

.loadingpage {
  background-color: rgb(18, 18, 18);
}

.opacity-perso {
  opacity: 1 !important;
  background: #67C5DD;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #555151;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}

.larger-symfo {
  width: 8rem !important;
}

.contactt {
  padding-bottom: 20rem !important;
}

.title_acccueil {
  color: #f9dbf3;
  text-shadow: 0 0 7px #f9dbf3, 0 0 10px #f9dbf3, 0 0 21px #f9dbf3, 0 0 42px #f94dd4, 0 0 82px #f94dd4, 0 0 92px #f94dd4, 0 0 102px #f94dd4, 0 0 151px #f425c7;
}

/*# sourceMappingURL=styles.css.map */
