@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@font-face {
  font-family: 'test';
  src: url('../font/outward-borders.ttf') format('truetype');
  /* Autres propriétés de la police (optionnelles) */
}
@font-face {
  font-family: 'test2';
  src: url('../font/outward-block.ttf') format('truetype');
  /* Autres propriétés de la police (optionnelles) */
}
.font_test{
  font-family: "test",sans-serif !important;
}
.font_test2{
  font-family: "test2",sans-serif !important;

}

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.imgNav{
  
  
  
 width: 100%;
 height: 100%;


  
    position: relative;
    overflow: hidden;
}


#cloud1 {
   
    position: absolute;
    right: -10%;
    bottom: 0;
    height: -3px;
    width: 50px;
    
    animation: moveCloud 10s linear infinite;
    -webkit-animation: moveCloud 10s linear infinite;
    -moz-animation: moveCloud 10s linear infinite;
    h1{
        font-family: "Protest Strike", sans-serif;
      
        font-style: normal;
        font-size: 5rem;
        font-weight: 400;
    }
  }
  #cloud2 {
 
    position: absolute;
    right: -5%;
    top: 0.2em;
    height: 20rem;
width: 30px;
   
    animation: moveCloud 25s linear infinite;
    font-size: 15em;
    -webkit-animation: moveCloud 25s linear infinite;
    -moz-animation: moveCloud 25s linear infinite;

    h1{
        font-family: "Kode Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    }
  }
  #cloud3 {
   
    position: absolute;
    right: -15%;
    top: 0.3rem;
    height: 30px;
width: 70px;
    font-family: "test",sans-serif;
    animation: moveCloud 46s linear infinite;
    -webkit-animation: moveCloud 46s linear infinite;
    -moz-animation: moveCloud 46s linear infinite;
    font-size: 5em;

    
    
  }
  #cloud4 {
  
    position: absolute;
    right: -25%;
    top: .2em;
font-weight: 700;

    animation: moveCloud 15s linear infinite;
    -webkit-animation: moveCloud 15s linear infinite;
    -moz-animation: moveCloud 15s linear infinite;
  color: rgb(47, 142, 147);
    font-size: 9em;
  }
  #cloud5 {
   
    position: absolute;
    right: 10%;
    top: 0.1em;
   
    height: 30px;
width: 30px;
    animation: moveCloud 20s linear infinite;
    -webkit-animation: moveCloud 20s linear infinite;
    -moz-animation: moveCloud 20s linear infinite;
    font-size: 21em;
    color: #2ed3e6;
  }
 



   @keyframes moveCloud {
    0% {
      transform: translate(2500%);
    }
    100% {
      transform: translate(-1000px);
    }
  }
  @-webkit-keyframes moveCloud {
    0% {
      transform: translate(2500%);
    }
    100% {
      transform: translate(-1000px);
    }
  }
  @-moz-keyframes moveCloud {
    0% {
      transform: translate(2500%);
    }
    100% {
      transform: translate(-1000px);
    }
  }

.onCommence{
  z-index: 999;
}

  /* responsive */

  @media screen and (max-width: 1024px)
{
    .imgNav{
    

    }
    .response{
     
      display: flex;
      }
}

//video

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
