// Votre style SCSS

main {
    height: 70%;
    width: 90%;
  
    // Ajoutez une media query pour les écrans plus petits
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0.3rem;
      height: 100%;
      margin-top: 10rem;
    }
  }
  .container-accueil{
    z-index: 39;
  }
  
  .main-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100%;
    padding: 2rem 3rem;
  
    // Ajoutez une media query pour les écrans plus petits
    @media screen and (max-width: 768px) {
      grid-gap: 50px;
      padding: 1rem;
      paddong:0;
      grid-gap: 10px;
    }
  }
  
  .grid-item {
    align-items: center;
    display: flex;
    justify-content: center;
  
    &:hover {
      font-size: 1.2rem;
      transition: all 0.6s ease-in-out;
    }
  }
  
  .small {
    grid-column: span 1;
    grid-row: span 1;
     // Modifiez la disposition pour les écrans plus petits
  @media screen and (max-width: 768px) {
    grid-column: span 2;
    grid-row: span 1;
    
    
  }
  }
  .text1{
    
    grid-column: span 2;
    grid-row: span 2;
    @media screen and (max-width: 1400px) {
      grid-column: span 3;
      grid-row: span 3;
      margin-left: 1rem;

      
    }
    @media screen and (max-width: 768px) {
        grid-column: span 8;
        grid-row: span 5;
      }
  }
  
  .medium {
    grid-column: span 2;
    grid-row: span 2;
    @media screen and (max-width: 768px) {
        grid-column: span 8;
        grid-row: span 5;
      }
  }
  
  .large {
  
    @media screen and (min-width: 1115px) {
      
      grid-column: span 3;
      grid-row: span 3;
  }

  @media screen and (max-width: 768px) {
    grid-column: span 8;
    grid-row: span 4;
  }
  }
  
  .wide {
    grid-column: span 3;
    grid-row: span 2;
    // Modifiez la disposition pour les écrans plus petits
  @media screen and (max-width: 768px) {
    grid-column: span 8;
    grid-row: span 5;
  }
  }
  
  .tall {
    grid-column: span 2;
    grid-row: span 3;
    // Modifiez la disposition pour les écrans plus petits
    @media screen and (max-width: 768px) {
        grid-column: span 8;
        grid-row: span 5;
        padding: 0;
        text-align: center;
  }
  }
  